<%= form_for(@email_preference) do |f| %>
  <% if @email_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_preference.errors.count, "error") %> prohibited this email_preference from being saved:</h2>

      <ul>
      <% @email_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :marketing %><br>
    <%= f.check_box :marketing %>
  </div>
  <div class="field">
    <%= f.label :daily %><br>
    <%= f.check_box :daily %>
  </div>
  <div class="field">
    <%= f.label :weekly %><br>
    <%= f.check_box :weekly %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
