<p id="notice"><%= notice %></p>

<h1>Listing Email Preferences</h1>

<table>
  <thead>
    <tr>
      <th>Marketing</th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_preferences.each do |email_preference| %>
      <tr>
        <td><%= email_preference.marketing %></td>
        <td><%= email_preference.daily %></td>
        <td><%= email_preference.weekly %></td>
        <td><%= email_preference.user %></td>
        <td><%= link_to 'Show', email_preference %></td>
        <td><%= link_to 'Edit', edit_email_preference_path(email_preference) %></td>
        <td><%= link_to 'Destroy', email_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email preference', new_email_preference_path %>
