<div class="container">
  <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-4">
<h3 class="text-center">Edit Your Profile</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field form-group">
    <%= f.label :first %>
        <%= f.text_field :first, autofocus: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :last %>
        <%= f.text_field :last, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="field form-group">
        <%= f.label "Upload an Avatar (300x300)", class: 'control-label'  %>
            <%= f.file_field :avatar %>

  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label "New Password" %></br><i>(Optional)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

  </div>

  <div class="field form-group">
    <%= f.label "New Password Confirmation" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %></br><i>(Required)</i>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>

  </div>

  <div class="form-group actions">
    <%= f.submit "Update", class: "btn btn-primary" %>

  </div>
<% end %>

<h3 class="text-center">Cancel my Account</h3>

<p>Unhappy? <%= button_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-warning' %></p>

<%= link_to "Back", :back %>
</div>
</div>