<div class="container">
<h3>Edit Your Profile</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <div class="col-sm-3"><%= f.label :first %></div>
        <div class="col-sm-6"><%= f.text_field :first, autofocus: true, class: "form-control" %></div>
  </div>

  <div class="field form-group">
    <div class="col-sm-3"><%= f.label :last %></div>
        <div class="col-sm-6"><%= f.text_field :last, class: "form-control" %></div>
  </div>

  <div class="field form-group">
    <div class="col-sm-3"><%= f.label :email %></div>
        <div class="col-sm-6"><%= f.email_field :email, class: "form-control" %></div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <div class="col-sm-3"><%= f.label "New Password" %></br><i>(Optional)</i></div>
        <div class="col-sm-6"><%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

  </div>

  <div class="field form-group">
    <div class="col-sm-3"><%= f.label "New Password Confirmation" %></div>
        <div class="col-sm-6"><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
  </div>

  <div class="field form-group">
    <div class="col-sm-3"><%= f.label :current_password %></br><i>(Required)</i></div>
        <div class="col-sm-6"><%= f.password_field :current_password, autocomplete: "off", class: "form-control" %></div>

  </div>

  <div class="form-group actions">
    <div class="col-sm-offset-3 col-sm-3">
    <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<h3>Cancel my Account</h3>

<p>Unhappy? <%= button_to "Cancel my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-warning' %></p>

<%= link_to "Back", :back %>
</div>