<%= render 'groups/admin' %>
<div class="container">
<div class="row top-row text-center">
    <div class="col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
          <h2>
            <% if @group.private and not @users.include?(@user) %>
              <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <% end %>
            <%= @group.name %>
          </h2>

          <p class="text-center">
            <% # member list %>
            <% if @users.where(memberships: {role: [2,0]}).where.not(first: '').length > 0 %>
              <% if @users.where(memberships: {role: [2,0]}).where.not(first: '').include?(User.current) or not @group.private %>
                <%= @users.where(memberships: {role: [2,0]}).where.not(first: '').map { |user| user.full_name }.join ', ' %>.
              <% else %>
                <%= @group.members %> <%= "player".pluralize(@group.members) %>
              <% end %>

            <% else %>
              No one has joined this group yet. Why not be the first?
            <% end %>
          </p>

          <% #user join actions - if not in group, show membership. else (ie in group) show privacy-dependent join %>
          <% if @users.where(id: current_user.id).empty? %>
          <% # user is not in the group # %>
            <%= form_for(@membership) do |f| %>
              <% if @membership.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>
                  <ul>
                  <% @membership.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="actions">
                <%= f.hidden_field :role, :value => 0 %>
                <%= f.hidden_field :group_id, :value => @group.id %>
                <% if @group.private %>
                  <%= f.submit 'Request to Join', :class => 'btn btn-primary' %>
                <% else %>
                  <%= f.submit 'Join This Group', :class => 'btn btn-primary' %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <% #user is in the group, show button to leave %>
            <div>
              <div>

                <% if @users.include?(@user) and not Membership.where(user_id: @user.id).where(group_id: @group.id).where(role: 2).empty? %>
                  <% # user is admin, show the button %>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupAdminModal">Membership Requests</button>
                <% end %>
                <% if @group.private and not Membership.where(user_id: @user.id).where(group_id: @group.id).where(role: 2).empty? %>
                  <% # group is private, only admin should see the thing to invite %>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupAdminInviteModal">Invite a Friend</button>
                <% else %>
                  <% if not @group.private %>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupAdminInviteModal">Invite a Friend</button>
                  <% end %>
                <% end %>

                <%= button_to "Leave Group", {:controller => :memberships, :action => 'destroy', :id => @membership.first.id }, :method => :delete, :class => "btn btn-primary", :form_class => "form-inline" %>
              </div>
                <% # check if user is an admin. if they are, show the admin button to load the modal %>
            </div>

          <% end %>












    </div>
</div>
</div>

<hr style="width: 100%; height: 1px; background-color:black;" />
<div class="container">
<div class = "row">
  <% @games.each do |game| %>
    <%= render partial: '/games/gamebox', locals: {game: game, big: false, tooltip: game.detailed, group_page: @group.id,  user: 0} %>
  <% end %>
</div>
</div>