<div class="container">
<div class="row top-row text-center">
    <div class="col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
      <h2><%= @group.name %></h2>
      <p>
        <% if @users.length >0 %>
          <% if @users.include?(@user) %>
            <%= @users.map { |user| user.full_name }.join ', ' %>.
          <% else %>
            <%= @users.map { |user| user.short_name }.join ', ' %>.
          <% end %>

      <% else %>
        No one has joined this group yet. Why not be the first?
      <% end %>
      </p>
      <% if @users.where(id: current_user.id).empty? %>
        <%= form_for(@membership) do |f| %>
          <% if @membership.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>
              <ul>
              <% @membership.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="actions">
            <%= f.hidden_field :role, :value => 0 %>
            <%= f.hidden_field :group_id, :value => @group.id %>

            <%= f.submit 'Join This Group', :class => 'btn btn-primary' %>
          </div>
        <% end %>
      <% else %>
        <%= button_to "Leave Group", {:controller => :memberships, :action => 'destroy', :id => @membership.first.id }, :method => :delete, :class => "btn btn-primary" %>
      <% end %>

    </div>
</div>
</div>

<hr style="width: 100%; height: 1px; background-color:black;" />
<div class="container">
<div class = "row">
  <% @games.each do |game| %>
    <%= render partial: '/games/gamebox', locals: {game: game, big: false, tooltip: game.detailed, group_page: @group.id,  user: 0} %>
  <% end %>
</div>
</div>