<%= render '/users/pending' %>
<div class="container">
<div class="row top-row">
    <div class="col-md-3 col-sm-4 col-xs-4 col-xs-offset-2 col-sm-offset-0 col-lg-3">
        <img src="http://www.protintutah.com/wp-content/uploads/2013/07/gravatar31.jpg">
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 col-lg-5">
        <h3><%= @user.full_name %></h3>
        <p><strong>Member Since: </strong><%= @user.created_at.strftime("%m/%d/%Y") %></p>
        <p><strong>Games Played: </strong><%= @user.scores.count %></p>
        <%  top_game_index = 0
            max_count = 0
        @games.each_with_index do |game, index|
            game_count = game.scores.where(user_id: @user.id).length
            if game_count > max_count
                top_game_index = (index + 1)
                max_count = game_count
            end
        end
        %>
        <% if top_game_index != 0 %>
            <p><strong>Favorite Game: </strong>
            <%= @games.find(top_game_index).name %></p>
        <% end %>
        <% if @user == User.current %><p><strong><%= link_to 'Edit Profile', edit_user_registration_path %></strong></p><% end %>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0 col-lg-4">
        <h3>Groups</h3>
            <% if @groupinvites.length > 0 %>
                <button type="button" class="btn btn-info text-center btn-full-width" data-toggle="modal" data-target="#pendingInvitesModal"><%= @groupinvites.length %> Pending <%= "Invitation".pluralize(@groupinvites.length) %></button>
            <% end %>
            <ul class="nav nav-pills">
            <% @user.groups.where(memberships: {role: [2,1,0]}).sort_by {|group| group.members }.reverse.each do | group | %>


                <li class="active group-list-badge-profile">

                    <%= link_to group, :class=>"profile-group-item"  do %>
                    <% if @user == User.current and Membership.where(group_id: group.id).where(user_id: @user.id).first.role == 2 %>
                      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <% end %>
                    <% if @user == User.current and Membership.where(group_id: group.id).where(user_id: @user.id).first.role == 1 %>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <% end %>
                        <%= group.name %> <span class="badge hidden-sm"><%= group.members %> <%= "member".pluralize(group.members) %></span>
                    <% end %>
                </li>
            <% end %>
            </ul>
    </div>
</div>
</div>

<hr style="width: 100%; height: 1px; background-color:black;" />
<div class="container">
<div class = "row">
  <% @games.each do |game| %>
    <%= render partial: '/games/gamebox', locals: {game: game, big: false, tooltip: game.detailed, group_page: 0, user: @user.id} %>
  <% end %>
</div>
</div>