<div role="tabpanel" class="tab-pane <% if game_page %><%= 'active' %><% end %>" id="daily-<%= game.id %>">
  <% if (group_page != 0 && @group.top_today(3, game.id).length > 0) or (game.top_today(3).length>0) %>

            <table class="table table-condensed no-margin">
              <thead>
                <tr>
                  <th style="width:17%">Rank</th>
                  <th style="width:30%">Player</th>
                  <th style="width:53%">Score</th>
                </tr>
              </thead>


              <tbody>
                <% if big %>
                  <% if group_page != 0 %>
                    <% score_list = @group.top_today(10, game.id) %>
                  <% else %>
                    <% score_list = game.top_today(10) %>
                  <% end %>
                <% else %>
                  <% if group_page != 0 %>
                    <% score_list = @group.top_today(3, game.id) %>
                  <% else %>
                    <% score_list = game.top_today(3) %>
                  <% end %>
                <% end %>
                <% score_list.each_with_index do |leader, index| %>
                  <tr>
                    <td><%= ((index + 1)).ordinalize %></td>
                    <td><%= leader.user.short_name %></td>
                    <td><% if (tooltip and not leader.detail.blank?) %><a class="link-no-click" href='#' data-toggle=tooltip title="<%= leader.detail %>" data-placement="left"><%= leader.format_long %></a><% else %><%= leader.format_long %><% end %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
  <% else %>
            <div class="alert alert-dismissible alert-info text-center">
              No one's played today - the top spot is up for grabs!
            </div>
  <% end %>
</div>