<div class = "panel-footer footer-min-height">
            <h4 class="text-center">LEADERBOARD</h4>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#daily-<%= game.id %>" aria-controls="daily-<%= game.id %>" role="tab" data-toggle="tab">Daily</a></li>
                <li role="presentation"><a href="#alltime-<%= game.id %>" aria-controls="alltime-<%= game.id %>" role="tab" data-toggle="tab">All Time</a></li>
            </ul>
            <div class = "tab-content">
                <%= render partial: 'gamebox_leaderboard_today', locals: {game: game} %>
                <%= render partial: 'gamebox_leaderboard_alltime', locals: {game: game} %>
            </div>
</div>