<div role="tabpanel" class="tab-pane" id="alltime-<%= game.id %>">
            <% if ( (group_page != 0) && (@group.top_alltime(3, game.id).length > 0) ) or (game.top_alltime(3).length > 0) %>

          <script>
            $( document ).ready(function() {
              $('[data-toggle="tooltip"]').tooltip();
            });
          </script>
          <table class="table table-condensed no-margin">
              <thead>
                <tr>
                  <th style="width:17%">Rank</th>
                  <th style="width:28%">Player</th>
                  <th style="width:55%">Score</th>
                </tr>
              </thead>


              <tbody>
                <% last_score = 0 %>
                <% k = 0 %>
                <% if big %>
                  <% if group_page != 0 %>
                    <% score_list = @group.top_alltime(10, game.id) %>
                  <% else %>
                    <% score_list = game.top_alltime(10) %>
                  <% end %>
                <% else %>
                  <% if group_page != 0 %>
                    <% score_list = @group.top_alltime(3, game.id) %>
                  <% else %>
                    <% score_list = game.top_alltime(3) %>
                  <% end %>
                <% end %>
                <% score_list.each_with_index do |leader, index| %>
                  <tr>
                    <% if leader.value == last_score %>
                      <td><%= ((k)).ordinalize + ' (T)' %></td>
                    <% else %>
                      <% k += 1 %>
                      <td><%= ((k)).ordinalize %></td>
                    <% end %>
                    <% last_score = leader.value %>
                    <td><%= leader.user.short_name %></td>
                    <td><%= leader.format_long %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="alert alert-dismissible alert-info text-center">
              No one's played this game - the top spot is up for grabs!
            </div>
          <% end %>
</div>