<div role="tabpanel" class="tab-pane <% if game_page %><%= 'active' %><% end %>" id="daily-<%= game.id %>">
          <% if game.top_today(3).length > 0 %>

            <table class="table table-condensed no-margin">
              <thead>
                <tr>
                  <th style="width:10%">Rank</th>
                  <th style="width:35%">Player</th>
                  <th style="width:55%">Score</th>
                </tr>
              </thead>


              <tbody>
                <% if big %>
                  <% score_list = game.top_today(20) %>
                <% else %>
                  <% score_list = game.top_today(3) %>
                <% end %>
                <% score_list.each_with_index do |leader, index| %>
                  <tr>
                    <td><%= ((index + 1)).ordinalize %></td>
                    <td><%= leader.user.short_name %></td>
                    <td><%= leader.format_long %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <div class="alert alert-dismissible alert-info text-center">
              No one's played today - the top spot is up for grabs!
            </div>
          <% end %>
</div>