<%= render 'jumbotron' %>

<p id="notice"><%= notice %></p>


<div class="row">
  <% @games.each do |game| %>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <p class=""><%= game.name %></p>
        </div>
        <div class="panel-body">
          <h3><% game.description %></h3>
          <% link_to 'Play', game, :class => "btn btn-success" %>
        </div>
        <div class = "panel-footer">
          <h3>LEADERBOARD</h3>
          <ul>
          <% game.top3.each do |leader| %>
              <li><%= leader.user.full_name %> - <%= leader.score %></li>
          <% end %>
          </ul>s
        </div>
      </div>
    </div>
  <% end %>
</div>  
  
</div>


<!--
<table>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.iframe %></td>
        <td><%= game.description %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
-->