<!DOCTYPE html>
<html>
<head>
  <title>Daily Puzzles</title>
  <meta name="google-site-verification" content="SFyndYk7aSVV9Rswhw-rZ4l2ZoEgB_sJkcve9VKE2WQ" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render '/layouts/navbar' %>
  <%= render 'layouts/invite_modal' %>
<!--<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
-->

<div class="wrap">
    <%= yield %>
</div>

<%= render '/layouts/footer' %>
</body>
</html>